@import '../../styles/variables';
@import '../../styles/mixins';

.main {
  @include flex-layout;
  padding: $indent__xl;
  margin: $indent__base;

  &__btn {
    @include button-styles;
    background-color: $color-pink;
    color: $primary__text;
  }
}

.todo-list {

  &__btn {
    @include button-styles
  }

  // // .save__btn {
  // //   @include button-styles;
  // //   background-color: $color-complete;
  // // }

  // CONDITIONALLY RENDER BTN COLORS DEPENDING ON CLASS!

  .delete__btn {
    @include button-styles;
    background-color: $color-delete;
  }

  
  // .complete__btn {
  //   @include button-styles;
  //   background-color: $color-complete;
  // }

  // .edit__btn {
  //   @include button-styles;
  //   background-color: $color-complete;
  // }
  
}